
#chat-box{
    background-color: #78B2E7;
    border: 2px solid #39526E;
    width: 650px;
    padding: 5px;
    border-radius: 5px;
}

#message-view{
    height: 300px;
    background-color: white;
    border: 2px solid #708695;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

#message-view li{
    padding: 5px;
    font-weight: 500;
}

#message-view li #author{
    color: #4744AB;
    font-weight: 600;
}

#message-view li img{
    height: 50px;
}

#emoji-bar{
    background-color: #D4E6F0;
    border: 2px solid #516D88;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

#emoji-bar button{
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 5px;
    height: 50px;
}

#emoji-bar img{
    height: 50px;
    margin: 0px;
    border-radius: 5px;
}

#message-input{
    height: 40px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

#message-input input{
    flex: 1;
    background-color: #FDFEFC;
    border: 2px solid #4A667F;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

#message-input input:focus{
    outline: none;
}

#message-input button{
    width: 75px;
    margin-left: 5px;
    background-color: #A5D9EE;
    border: 2px solid #5B93B4;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    #chat-box{
        width: 300px;
    }
}
